* {
  margin: 0;
  padding: 0;
  z-index: 1;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background: #E1FF8F;
  height: 710px;
}
.top__star {
  position: absolute;
}
.top__star--1 {
  top: 94px;
  left: 63px;
}
.top__star--2 {
  top: 69px;
  left: 156px;
}
.top__star--3 {
  top: 538px;
  right: 455px;
}
.top__star--4 {
  top: 568px;
  right: 344px;
}
.top__star--5 {
  top: 0;
  right: 0;
}
.top__star--mob-1 {
  display: none;
}
.top__content {
  padding-top: 196px;
  padding-bottom: 156px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.top__content-title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.7px;
  text-align: left;
}

.top__content-text {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}
.top__content-text--mobile {
  display: none;
}

.top__content-button {
  text-decoration: none;
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}
.top__content-button:hover {
  background-color: white;
  color: black;
}

.scroll-bar {
  background: rgb(188, 236, 48);
  width: 100%;
  overflow: hidden;
  position: relative;
}
.scroll-bar__group {
  padding: 0px;
  gap: 10px;
  border: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  height: 90px;
  gap: 51px;
  padding-left: 19px;
  animation: scroll-left 40s linear infinite;
}
.scroll-bar__text {
  text-transform: uppercase;
  white-space: nowrap;
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-226%);
  }
}
.about-games {
  background-color: #202027;
  position: relative;
  padding-bottom: 50px;
}
.about-games__star {
  position: absolute;
}
.about-games__star--1 {
  top: 110px;
  right: 0;
}
.about-games__star--2 {
  top: 770px;
  left: 28px;
}
.about-games__star--3 {
  top: 822px;
  left: 45px;
}
.about-games__title {
  padding-top: 94px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
}
.about-games__description {
  margin-top: 24px;
  margin-top: 33px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
}

.games {
  display: flex;
  gap: 32px;
  margin-top: 72px;
}
.games__couple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.card-game {
  background-color: white;
  width: 378px;
  border-radius: 30px;
  padding-bottom: 36px;
  transition: transform 0.3s ease;
}
.card-game:hover {
  transform: scale(1.1);
}
.card-game__link {
  text-decoration: none;
}
.card-game__img {
  border-radius: 30px;
  width: 100%;
}
.card-game__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
  margin-bottom: 4px;
}
.card-game__num {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: bottom;
  color: #202027;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.card-game__name {
  text-decoration-line: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
  line-height: 37px;
}

.mini-games {
  position: relative;
  background-color: #202027;
  padding-top: 46px;
  padding-bottom: 144px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.mini-games__star {
  position: absolute;
}
.mini-games__star--1 {
  width: 35px;
  top: 93px;
  right: 123px;
}
.mini-games__star--2 {
  width: 68px;
  top: 126px;
  right: 45px;
}
.mini-games__star--3 {
  width: 35px;
  bottom: 45px;
  right: 150px;
}
.mini-games__star--4 {
  width: 68px;
  bottom: 65px;
  right: 52px;
}
.mini-games__main-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 42px;
}
.mini-games__card {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: #FFFFFF;
}
.mini-games__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 48px;
}
.mini-games__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  color: #202027;
}
.mini-games__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #202027;
}
.mini-games__button {
  border-radius: 60px;
  background-color: #202027;
  color: white;
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 28px 16px 28px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}
.mini-games__button:hover {
  background-color: white;
  color: black;
}

.mobile-games {
  display: none;
  background-color: #202027;
}
.mobile-games__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding-top: 48px;
  margin-bottom: 40px;
  margin-left: 16px;
}
.mobile-games__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 48px;
}

.mobile-game-card {
  width: 343px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.mobile-game-card__img {
  width: 343px;
  border-radius: 30px;
}
.mobile-game-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 29px 29px 0px 29px;
}
.mobile-game-card__name {
  text-decoration-line: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
  line-height: 37px;
}
.mobile-game-card__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
  width: 285px;
}
.mobile-game-card__button {
  font-family: Montserrat;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid #202027;
  border-radius: 60px;
  background-color: #202027;
  border-width: 1px;
  gap: 10px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  font-size: 16px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 16px;
}

.footer {
  display: block;
  background-color: #BDED35;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}

@media (max-width: 1052px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
  }
  .top__content {
    width: 296px;
    padding-top: 147px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .top__content-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__content-text {
    display: none;
  }
  .top__content-text--mobile {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__content-button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 12px;
  }
  .top__star {
    position: absolute;
  }
  .top__star--1 {
    width: 35px;
    top: 97px;
    left: 37px;
  }
  .top__star--2 {
    width: 21px;
    left: 92px;
    top: 64px;
  }
  .top__star--3 {
    width: 18px;
    top: 560px;
    right: 86px;
  }
  .top__star--4 {
    width: 35px;
    top: 586px;
    right: 32px;
  }
  .top__star--5 {
    display: none;
  }
  .top__star--mob-1 {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .scroll-bar {
    height: 51px;
    gap: 27px;
    padding-left: 17px;
  }
  .scroll-bar__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }
  .scroll-bar__img {
    width: 20px;
  }
  .about-games {
    margin-top: -72px;
    padding-bottom: 10px;
  }
  .about-games__star {
    display: none;
  }
  .about-games__title {
    display: none;
  }
  .about-games__description {
    display: none;
  }
  .games__row {
    display: none;
  }
  .card-game {
    display: none;
  }
  .mini-games {
    display: none;
  }
  .mobile-games {
    display: block;
  }
  .mobile-games__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
  }
}/*# sourceMappingURL=style.css.map */